

 @model RegisterVM

@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "~/Views/Shared/_LoginLogoutLayout.cshtml";
}

<hr />

<div class="row my-5 justify-content-center">
    <div class="col-md-4 mt-5">
        <form asp-action="Register" class="text-center">
            <div class="form-group my-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="E-Posta" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Adres" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Şifre" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Şifre Tekrarı" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <input type="submit" value="Kayıt Ol" class="btn btn-primary mx-2" />
            </div>
        </form>
    </div>
</div>

<div class=" text-center">
    <a asp-action="Login">Zaten Hesabınız Var mı? Giriş Yap</a>
</div>
