@using MVC_Project_Group_4.Models.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<Uye> UserManager
@inject SignInManager<Uye> SignInManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li>Merhaba @UserManager.GetUserName(User)</li>

        @if (User.IsInRole("Yonetici"))
        {
            <li class="navbar-item">
                <a asp-area="YonetimPaneli" asp-controller="YoneticiPanel" asp-action="Index">Yönetim Paneline Git</a>
            </li>
        }
        else
        {
            <li class="navbar-item">
                <a asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Index">Üye Paneline Git</a>
            </li>

        }
        <li class="navbar-item">
            @*   <form asp-action="LogOut" asp-controller="Login" >
        <input type="submit" value="LogOut" />
        </form> *@
            <a asp-controller="Login" asp-action="LogOut">Çıkış</a>
        </li>
    }
    else
    {
        <li class="navbar-item">
            <a asp-controller="Login" asp-action="Login">Login</a>
            <a asp-controller="Login" asp-action="Register">Register</a>
        </li>

    }

</ul>