@using MVC_Project_Group_4.Models.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<Uye> UserManager
@inject SignInManager<Uye> SignInManager

<div class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-item mx-3">Merhaba @UserManager.GetUserName(User)</div>

        @if (User.IsInRole("Yonetici"))
        {
            <div class="navbar-item mx-3">
                <a class="btn btn-primary" asp-area="YoneticiPaneli" asp-controller="YoneticiPanel" asp-action="AnaSayfa">Yönetim Paneline Git</a>
            </div>
        }
        else
        {
            <div class="navbar-item mx-3">
                <a class="btn btn-primary" asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Index">Üye Paneline Git</a>
            </div>

         @*    <script>
             
                window.location.href = '@Url.Action("Index", "UyePanel", new { area = "UyePaneli" })';
            </script> *@

        }
        <div class="navbar-item mx-3">
         @*      <form asp-action="LogOut" asp-controller="Login" >
        <input type="submit" value="LogOut" />
        </form>  *@
            <a class="btn btn-danger"  asp-controller="Login" asp-action="LogOut">Çıkış</a>
        </div>
    }
    else
    {
        <div class="navbar-item justify-content-end text-center mx-3">
           
            <a class="btn btn-success" asp-controller="Login" asp-action="Login">Giriş Yap</a>

            
        </div>

        <div class="navbar-item mx-3">
            <a class="btn btn-primary" asp-controller="Login" asp-action="Register">Kayıt Ol</a>
        </div>

    }

</div>