@* 
<div class="row justify-content-center text-center ">

    <div class="card-group">

    </div>


    <input type="" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>

    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>

    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>



</div> *@
<div class="card-group ">
    <div class="card " style="width: 18rem;">
        <img src="~/Pictures/Menuler/Benim_3_lum .jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Menuler</h5>

            <a asp-controller="Menu" asp-action="Menuler" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Ek_Urunler/Tirtikli_patates_kizartmasi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ek Urunler</h5>

            <a asp-controller="EkUrun" asp-action="EkMalzemeler" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Icecekler/Coca_cola.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Icecekler</h5>

            <a asp-controller="Icecek" asp-action="Icecekler" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Tatlilar/Sutlac.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tatlılar</h5>

            <a asp-controller="Tatli" asp-action="Tatlilar" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Hamburgerler/Big_King.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hamburgerler</h5>

            <a asp-controller="Hamburger" asp-action="Hamburgerler" class="btn btn-primary">List</a>
        </div>
    </div>
</div>

@* 
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> *@
@* 
<div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div> *@