
<div class="card-group ">
    <div class="card " style="width: 18rem;">
        <img src="~/Pictures/Menuler/Benim_3_lum.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title">Menuler</h5>

            <a asp-controller="Menu" asp-action="MenuListele" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Ek_Urunler/Tirtikli_patates_kizartmasi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ek Urunler</h5>

            <a asp-controller="EkUrun" asp-action="EkstraMalzemeListele" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Icecekler/Coca_cola.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Icecekler</h5>

            <a asp-controller="Icecek" asp-action="IcecekListele" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Tatlilar/Sutlac.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tatlılar</h5>

            <a asp-controller="Tatli" asp-action="TatliListele" class="btn btn-primary">List</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/Hamburgerler/Big_King.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hamburgerler</h5>

            <a asp-controller="Hamburger" asp-action="HamburgerlerListele" class="btn btn-primary">List</a>
        </div>
    </div>
</div>

